.skillContainer{
    display: flex;
    flex-direction: row;
    height: 2rem;
}
.skillBox{
    height: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.skillTitle{
    font-weight: 700;
    font-size: 1.5rem;
}
