.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  width: 100vw;
}
.centerText{
  font-size: 2rem;
  font-weight: 600;
}
.allSeperator{
  height: 20rem;
}