
.contactBox {
    background-color: hsla(223, 88%, 67%, 1);
}
.subtext{
    font-size: 2rem;
    font-weight: 800;
}
.seperator{
    width: 2rem;
}
.maintext{
    font-size: 0.7rem;
    font-weight: 500;
}
.socialText {
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
}
.socialBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}
.buttonBox{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}
button{
   margin: 0.5rem;
}
button:hover{
    background-color: rgb(229, 102, 29);
}
button:active{
    background-color: wheat;
}