.headerSection{
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerLeftBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.headerLeftBox div {
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.headerLeftBox div:hover {
    background-color: white;
    color: black;
    transition-delay: 0.2s;
  }
  
.headerRightBox{
    padding: 1rem;
    width: 10rem;
    animation: rainbowAnimation 3s linear infinite;
    font-weight: 700;
    border-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rainbowAnimation {
    0% { background-color: #f77f7f; }   
    14% { background-color: #f7af7f; }   
    28% { background-color: #f7f77f; }   
    42% { background-color: #aff77f; }   
    56% { background-color: #7ff7af; }   
    70% { background-color: #7fafd7; }   
    84% { background-color: #afaff7; }   
    100% { background-color: #f77f7f; }
}